*																	{	font-family:sans-serif; 	margin:0px;	padding:0px;	box-sizing: border-box;}
.clear-fix															{	clear:both;}
div.container														{	margin:0px auto;	max-width:1238px;}
div.con																{	margin:0px auto;	max-width:1070px;}
a																	{	color:#f5f6f6;	text-decoration:none;	transition:all .5s ease-in-out;}
a:hover																{	cursor:pointer;}
html																{	transition:all 1s ease-in-out;}
body																{	background-color:#fff;}
.bu																	{	border:none;	background-COLOR:#ffc536; }
h1,H2,H3															{	color:#1a1a50;	text-align:center;	font-weight: 100}



